In [1]:
import pandas as pd
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [2]:
from sklearn.preprocessing import MaxAbsScaler
m=MaxAbsScaler()
x = df.drop(['Area','Profit'], axis=1)
y = df['Profit']
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [3]:
newx = m.fit_transform(x)
newx

array([[0.69261666, 0.74952712, 1.        ],
       [0.98335946, 0.8288052 , 0.94089337],
       [0.92798459, 0.5537805 , 0.8646636 ],
       [0.87313643, 0.64973849, 0.81223513],
       [0.85943772, 0.50037773, 0.77613557],
       [0.797566  , 0.54649404, 0.76912588],
       [0.81412828, 0.80592635, 0.27071031],
       [0.7880179 , 0.79678948, 0.68649342],
       [0.72901786, 0.81424892, 0.66049977],
       [0.74590551, 0.59502771, 0.64644319],
       [0.61635061, 0.60551217, 0.48573267],
       [0.60884455, 0.50256141, 0.52936195],
       [0.56766982, 0.69708993, 0.52956308],
       [0.55635219, 0.74184705, 0.53555202],
       [0.72539353, 0.85711046, 0.54370828],
       [1.        , 0.67133764, 0.55486446],
       [0.47180821, 0.66575694, 0.56031151],
       [0.57246821, 0.79431211, 0.59894835],
       [0.55488118, 0.62512218, 0.62511553],
       [0.52264964, 0.84050283,        nan],
       [0.46116861, 0.62343317, 0.63305328],
       [0.47408436, 0.84192263, 0.63532724],
       [0.4475048 , 0.67224602, 0.64291963],
       [0.40842369, 0.5789959 , 0.64599195],
       [0.46594728, 0.54357379, 0.29796428],
       [0.39107967, 0.76406544, 0.29242745],
       [0.45557444, 0.78915677, 0.28413435],
       [0.43609283, 0.7000693 , 0.74861321],
       [0.39946683, 1.        , 0.25042853],
       [0.39676926, 0.83786356, 0.22709197],
       [0.37493063, 0.63314586, 0.19316302],
       [0.36974101, 0.83605602, 0.18698856],
       [0.38348453, 0.70748837, 0.09768292],
       [0.33561668, 0.56424854, 0.45494286],
       [0.2807759 , 0.86338765, 0.44680961],
       [0.2782839 , 0.46564198, 0.43561799],
       [0.17335288, 0.69564357, 0.42631115],
       [0.26652654, 0.28077956, 0.41762624],
       [0.12234465, 0.36107053, 0.39269043],
       [0.23319442, 0.45433401, 0.3709309 ],
       [0.17390063, 0.64904972, 0.36626005],
       [0.16869099, 0.46379868, 0.34861436],
       [0.14297577, 0.52664642, 0.31370517],
       [0.09377566, 0.69742894, 0.07531871],
       [0.13412668, 0.8475768 , 0.06005866],
       [0.0060492 , 0.67974847, 0.0040356 ],
       [0.00795565, 0.63410362, 0.62976785],
       [0.        , 0.74147392, 0.        ],
       [0.00327821, 0.28329815, 0.        ],
       [0.        , 0.64049627, 0.09574943]])

In [4]:
dataFrame = pd.DataFrame(newx, columns=['a','b','c'])
dataFrame.head()

          a         b         c
0  0.692617  0.749527  1.000000
1  0.983359  0.828805  0.940893
2  0.927985  0.553781  0.864664
3  0.873136  0.649738  0.812235
4  0.859438  0.500378  0.776136