In [1]:
import pandas as pd
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [2]:
from sklearn.preprocessing import RobustScaler
r = RobustScaler()
x = df.drop(['Area','Profit'], axis=1)
y = df['Profit']
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [3]:
newx = r.fit_transform(x)
newx

array([[ 0.67253009,  0.34535525,  1.55201644],
       [ 1.45211292,  0.6975647 ,  1.38371396],
       [ 1.3036336 , -0.52428997,  1.16665443],
       [ 1.15656655, -0.09797658,  1.0173676 ],
       [ 1.11983554, -0.76154296,  0.91457633],
       [ 0.95393588, -0.5566616 ,  0.89461668],
       [ 0.99834513,  0.59592064, -0.52459079],
       [ 0.9283341 ,  0.55532815,  0.65932587],
       [ 0.77013442,  0.63289538,  0.58531056],
       [ 0.8154161 , -0.34104062,  0.54528533],
       [ 0.46803423, -0.29446122,  0.08767206],
       [ 0.44790788, -0.75184149,  0.21190373],
       [ 0.33750405,  0.11239208,  0.21247644],
       [ 0.30715756,  0.31123495,  0.22952959],
       [ 0.76041632,  0.82331673,  0.25275401],
       [ 1.49673201, -0.00201781,  0.28452056],
       [ 0.08046566, -0.02681124,  0.30003068],
       [ 0.35037021,  0.54432193,  0.41004671],
       [ 0.30321327, -0.20733968,  0.48455614],
       [ 0.21678926,  0.74953386,         nan],
       [ 0.05193717, -0.21484346,  0.50715837],
       [ 0.08656882,  0.75584161,  0.51363334],
       [ 0.01529973,  0.00201781,  0.53525221],
       [-0.08949034, -0.41226531,  0.54400044],
       [ 0.06475046, -0.56963541, -0.4469868 ],
       [-0.13599571,  0.40994478, -0.46275259],
       [ 0.03693728,  0.52141826, -0.48636666],
       [-0.01529973,  0.12562858,  0.83620813],
       [-0.11350681,  1.45813335, -0.5823419 ],
       [-0.12073992,  0.73780837, -0.64879132],
       [-0.1792969 , -0.1716928 , -0.74540191],
       [-0.19321209,  0.72977798, -0.76298329],
       [-0.15636092,  0.15858935, -1.01727556],
       [-0.28471131, -0.47778354,  0.        ],
       [-0.43175858,  0.85120443, -0.02315894],
       [-0.43844049, -0.91586378, -0.05502639],
       [-0.71979714,  0.10596635, -0.08152705],
       [-0.46996607, -1.73715369, -0.10625678],
       [-0.85656799, -1.38044426, -0.17725996],
       [-0.55934112, -0.96610178, -0.23921887],
       [-0.71832843, -0.10103656, -0.25251881],
       [-0.7322973 , -0.92405301, -0.30276385],
       [-0.80124875, -0.64483881, -0.4021656 ],
       [-0.93317142,  0.11389823, -1.08095627],
       [-0.82497625,  0.78096147, -1.12440833],
       [-1.16839665,  0.03534904, -1.28393053],
       [-1.16328479, -0.16743776,  0.49780333],
       [-1.18461665,  0.30957726, -1.29542164],
       [-1.17582662, -1.72596431, -1.29542164],
       [-1.18461665, -0.13903706, -1.02278106]])

In [4]:
dataFrame = pd.DataFrame(newx, columns=['a','b','c'])
dataFrame.head()

          a         b         c
0  0.672530  0.345355  1.552016
1  1.452113  0.697565  1.383714
2  1.303634 -0.524290  1.166654
3  1.156567 -0.097977  1.017368
4  1.119836 -0.761543  0.914576